.migalhas {
	margin-top: 150px;
	text-align: center;
}

.bread_link:hover {
	text-decoration: none;
	color: orangered !important;
}

.tiago-bg {
	background-image: url("/img/carousel1.jpg"); 
	height: 400px;
	background-attachment: fixed;
	background-position: center;
	font-size: 2em;
}

.migalha {
	color: white !important;
	font-weight: bolder;
	color: orange !important;
	font-style: italic;
}

.text-laranja {
	color: orange;
}

.bg-laranja {
	background-color: orange;
}

.borda {
	/*border:  1px solid red;*/
}